<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explore Restaurant">
  <meta name="theme-color" content="#DB0000"/>

  <title>Restaurant Apps</title>

  <link rel="icon" href="../images/Udin_s_Kitchen-removebg-preview.png" type="image/png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

</head>
<body>
  <a href="#Judul" class="skip-to-content">Skip to Content</a>
  
  <header class="app-bar">
    <div class="menu_app">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="brand_app">
      <h1>Best Restaurant</h1>
    </div>
    <nav id="navigationDrawer" class="navigasi_app">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#/favorite">Favorite</a></li>
        <li><a href="https://www.instagram.com/p/C4pZnphvRRJ/?igsh=ZHdyZ3J1cWV2NG95">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent" tabindex="0">
  </main>

  <footer>
      <p>&copy; 2024 - Best Restaurant</p>
  </footer>
  
</body>
</html>
